<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head data-th-replace="menu :: msghead"></head>
    <body>
        <nav data-th-replace="menu :: msgmenu"></nav>

        <div class="container">
          <h3>Szerepkörváltás</h3>
          <div>
            <!-- Logged user: <span data-sec-authentication="name"></span><br> -->
            Jelenlegi szerepkör: <span data-sec-authentication="principal.authorities"></span>
          </div>
          <form class="mt-1" data-th-action="@{/rolechange}" method="post" data-th-object="${roleDto}">
            <select class="form-control" data-th-field="*{id}">
                <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.text}" name="id"/>
            </select>
            <button class="btn btn-sm mt-1" type="submit" value="submit">Váltás</button>
          </form>
        </div>
    </body>
</html>
