/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.08.09., 19:59:49
    Author     : varhididaniel
*/
.container{
  margin-top: 50px;
}

#googleMap{
    border-style: solid;
}

div#map{
                width:100%;
                height:350px;
            }